:root {
    --darkblue: #064789;
    --lightblue: #c3e4fa;
    --darkgreen: #679436;
    --lightgreen: #d2de81;
    --gray: #f5f7fa;
    --bordergray: #999999;
}

body {
    display: grid;
    grid-template-columns: minmax(10em, 10%) 1fr;
    grid-template-rows: 1fr 2em;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--gray);
}

nav {
    position: fixed;
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--darkblue);
    color: red;
    height: 100%;
    width: 160px;
    z-index: 0;
}

nav > img {
    display: flex;
    max-width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1em;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

nav span {
    padding-right: 0.5em;
}

nav .connexion-link {
    position: absolute;
    bottom: 0;
    padding-bottom: 3em;
}

nav hr {
    color: white;
    width: calc(160px + 2em);
    margin: 1em -2em;
}

main {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding: 0;
}

footer {
    z-index: -2;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.normal {
    font-weight: normal;
    font-size: 1rem;
}

.div-margin {
    margin: 2em 4em;
}

/*input {
    width: 20%x;
    margin-right: 2%;
    padding: 1.5vh;
    color: #313131;
    appearance: none;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);

    border: 1px solid rgb(100, 100, 100);
    border-radius: 16px;
    transition: 0.4s;
}

input:focus {
    border-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}*/

#filter-input {
    width: 40%;
    margin: 1% 0;
}

button {
    padding: 1vh;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

.center {
    text-align: center;
}

.center>table {
    margin-left: auto;
    margin-right: auto;
}

#animals-table {
    border-collapse: collapse;
    text-align: center;
}

#animals-table th {
  background-color: #8f9cf0;
  color: white;
  font-size: 1.2em;
}

#animals-table tr {
    line-height: 1.5;
}

#animals-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#animals-table td, #animals-table th {
    border: 1px solid #ddd;
    padding: 0 4vh;
}

.info-table {
    width: 100%;
    border: 1px solid #AEADAC;
    border-collapse: collapse;
    line-height: 2em;
    text-align: center;
}

.info-table th {
    background-color: var(--darkgreen);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 1.5em;
}

.info-table td {
    border: 1px solid var(--bordergray);
    padding: 0 1.5em;
}

/* ***** SYNTHESIS ***** */

#synthesis-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 0.5;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
}

#synthesis-table img {
    height: 100px;
}

tr.synthesis-info {
    background-color: var(--lightblue);
}

#synthesis-graph-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;    
}

/* ***** OBLIGATIONS ***** */

.obligations-category {
    background-color: var(--lightgreen);
    font-weight: bold;
    font-size: 1.1em;
}

#obligations-table {
    text-align: left;
}

/* ***** SKILLS ***** */

.nav-two {
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lightblue);
    padding-top: 0;
    margin-left: 180px;
    margin-bottom: 0;
    color: black;
    align-items: left;
    overflow-y: auto;
}

.nav-two ul {
    margin: 0.5em;
}

input.navbar-selection {
    display: none;
}

label.navbar-selection {
    cursor: pointer;
}

input[type="radio"]:checked+label{
    font-weight: bold;
} 

#skill-description {
    margin: 0;
}

#skills-table {
    width: 100%;
    height: 50px;
}

#skills-table td {
    width: 50%;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

#skill-details-table {
    margin: 2em;
}

#skills-chart {
    height: 300px;
    width: 300px;
    margin-left: 5em;
}

/* ***** COURSES ***** */

#course-table {
    width: 100%;
    border-collapse: collapse;
}

#course-details-table {
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.3em;
    margin: 0.8em 0;
}