body {
    display: grid;
    grid-template-columns: minmax(10em, 10%) 1fr;
    grid-template-rows: 1fr 2em;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

nav {
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #2a435b;
    color: red;
    width: 160px;
}

nav > img {
    display: flex;
    max-width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1em;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

nav a > span {
    padding-right: 1em;
}

main {
    grid-column: 2;
    grid-row: 1;
    margin: 2em;
    padding: 0 20px;
}

footer {
    z-index: -2;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.normal {
    font-weight: normal;
    font-size: 1rem;
}

input {
    width: 20%x;
    margin-right: 2%;
    padding: 1.5vh;
    color: #313131;
    appearance: none;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);

    border: 1px solid rgb(100, 100, 100);
    border-radius: 16px;
    transition: 0.4s;
}

input:focus {
    border-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

#filter-input {
    width: 40%;
    margin: 1% 0;
}

button {
    padding: 1vh;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

.center {
    text-align: center;
}

.center>table {
    margin-left: auto;
    margin-right: auto;
}

#animals-table {
    border-collapse: collapse;
    text-align: center;
}

#animals-table th {
  background-color: #8f9cf0;
  color: white;
  font-size: 1.2em;
}

#animals-table tr {
    line-height: 1.5;
}

#animals-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#animals-table td, #animals-table th {
    border: 1px solid #ddd;
    padding: 0 4vh;
}

/* ***** SYNTHESIS ***** */

#synthesis-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 0.5;
}

#synthesis-table img {
    height: 100px;
}

#synthesis-graph-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;    
}

/* ***** OBLIGATIONS ***** */

#obligations-table {
    border-collapse: collapse;
    width: 80%;
}

#obligations-table th {
    background-color: #2a435b;
    font-style: bold;
    text-align: center;    
    color: white;
}

.obligations-category {
    background-color: lightgray;
    font-style: bold;
}

/* ***** SKILLS ***** */

.nav-two {
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8AA5BF;
    padding-top: 20px;
    margin-left: 180px;
    color: black;
    align-items: left;
    overflow-y: auto;
}

.nav-two ul {
    margin: 0.5em;
}

input.navbar-selection {
    display: none;
}

label.navbar-selection {
    cursor: pointer;
}

input[type="radio"]:checked+label{
    font-weight: bold;
} 

#skills-table {
    width: 100%;
    height: 50px;
}

#skills-table td {
    width: 50%;
    padding: 1.5em;
    text-align: left;
    vertical-align: top;
}

#skill-details-table {
    width: 100%;
    border: 1px solid #AEADAC;
    border-collapse: collapse;
}

#skill-details-table th {
    background-color: #2a435b;
    color: white;
    font-weight: bold;
}

#skill-details-table td {
    border: 1px solid #AEADAC;
}

/* ***** COURSES ***** */

#course-details-table {
    width: 100%;
    border-collapse: collapse;
}

#course-skills-table {
    width: 100%;
    border: 1px solid #AEADAC;
    border-collapse: collapse;
}

#course-skills-table th {
    background-color: #2a435b;
    color: white;
    font-weight: bold;
}

#course-skills-table td {
    border: 1px solid #AEADAC;
}